---
layout: 'default'
title: 'Jason Morganson'
priority: 1.0
---



span(about="http://jason.morganson.me",
     rdf:about="http://jason.morganson.me",
     version="HTML+RDFa 1.1",
     property="foaf:PersonalProfileDocument",
     typeof="PersonalProfileDocument foaf:PersonalProfileDocument",
     prefix="foaf: http://xmlns.com/foaf/0.1/ rdf=http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    )

    span(property="maker", rdf:resource="http://jason.morganson.me/#me")
    span(property="primaryTopic", rdf:resource="http://jason.morganson.me/#me")

.vcard.h-card(profile="http://microformats.org/wiki/hcard",
              version="HTML+RDFa 1.1",
              about="http://jason.morganson.me/#me",
              rdf:about="http://jason.morganson.me/#me",
              vocab="http://schema.org/",
              typeof="Person maker primaryTopic foaf:Person foaf:maker foaf:primaryTopic",
              itemtype="http://schema.org/Person",
              itemscope="",
              prefix="cert: http://www.w3.org/ns/auth/cert# foaf: http://xmlns.com/foaf/0.1/ rdf=http://www.w3.org/1999/02/22-rdf-syntax-ns# rdfs: http://www.w3.org/1999/02/22-rdf-syntax-ns# xsd: http://www.w3.org/2001/XMLSchema#",
             )

    // Certificate
    span.cert(property="cert:key")
        span(property="cert:RSAPublicKey")
            span(property="cert:modulus", rdf:datatype="http://www.w3.org/2001/XMLSchema#hexBinary") 8C8B05E6AF8C175FC0AFE56AD7BF763E819FD92881AE22283698A5890B49D95EB91F13CAA1159EA568839534F949A8EF477B9A8E4ECF0067F1B7FCD0F2061F5B3FCE73BB309DD127A019C39B9586B5D19BDCF0293314ACFA5DF514CD010593F1A5C18CE3E9B761DD8FB2F7E02DCACF1A6CC36CE61EBFEC4474E06E954D2A5F031C3BE0A230257710146AA841D85FE4095471FF9C801BEA740970F39D88CCABFED34982EA747134FB0E601C5AF87BD5E5BD4B9FD70569B28698C83B496555D78B2BBE2F752CA4E21173EF823F2DD1530A483A873AF26903475F6C466178F06ADB3874379B5E02316AFEBB890A463856244D282AF7AC999C357BA6DC9EE8027961
            span(property="cert:exponent", rdf:datatype="http://www.w3.org/2001/XMLSchema#int") 65537

    // Web Page
    #webpage.u-url.url(itemprop="url", property="url foaf:homepage", rdf:resource="http://jason.morganson.me")

    // Blog
    #blog.u-url.url(itemprop="url", property="url foaf:blog", rdf:resource="http://jason.morganson.me/blog")

    // Name
    #name.p-fn.fn.p-name(itemprop="name", property="name foaf:name")
        span#givenName.p-given-name.given-name(itemprop="givenName", property="foaf:firstName") Jason
        span 
        span#familyName.p-family-name.family-name(itemprop="familyName", property="foaf:surname") Morganson

    // E-mail
    a#email.u-email.email(title="E-Mail", property="email foaf:openid foaf:mbox rdf:resource", itemprop="email", href="mailto:jason@morganson.me") jason@morganson.me

    // IM
    #IM

        //iMessage
        a#iMessage.u-url.url.u-impp(title="iMessage", href="imessage:jason@morganson.me") iMessage

        //Facetime
        a#FaceTime.u-url.url.u-impp(title="FaceTime", href="facetime:jason@morganson.me") FaceTime

        //SIP
        a#SIP.u-url.url.u-impp(title="SIP", href="sip:jason@morganson.me") SIP

        //SIMPLE
        a#SIMPLE.u-url.url.u-impp(title="SIMPLE", href="sip:jason@morganson.me") SIMPLE

        //XMPP
        a#XMPP.u-url.url.u-impp(title="XMPP", property="foaf:jabberID", href="xmpp:jason@morganson.me") XMPP

        //GTalk
        a#GTalk.u-url.url.u-impp(title="GTalk", property="foaf:jabberID", href="gtalk:chat?jid=jason@morganson.me") GTalk

        //MSN
        a#MSN.u-url.url.u-impp(title="MSN", property="foaf:msnChatID", href="msnim:chat?contact=jason@morganson.me") MSN

        //AIM
        a#AIM.u-url.url.u-impp(title="AIM", property="foaf:aimChatID", href="aim:goim?screenname=jason@morganson.me") AIM

        //YIM
        a#YIM.u-url.url.u-impp(title="YIM", property="foaf:yahooChatID", href="ymsgr:sendIM?jasonmorganson") YIM

        //Skype
        a#Skype.u-url.url.u-impp(title="Skype", property="foaf:skypeID", href="skype:jasonmorganson?call") Skype

    // Social
    #Social

        // Google Plus
        a#Google.u-url.url(title="Google", href="http://plus.google.com/115799597282883490421", rel="me author publisher") Google+

        // Twitter
        a#Twitter(title="Twitter", href="http://twitter.com/jasonmorganson", rel="me") Twitter

        // GitHub
        a#GitHub(title="GitHub", href="https://github.com/jmorganson", rel="me") Github

        // Geoloqi
        a#Geoloqi(title="Geoloqi", href="http://geoloqi.com/jmorganson", rel="me") Geoloqi

    // Home phone
    #phone.p-tel.tel
        .type Home
        a.value(title="Home", property="telephone", itemprop="telephone", href="tel:+18888916774") 1.888.891.6774

    // Cellphone
    #cell.p-tel.tel
        .type Cell
        a.value(title="Cell", property="telephone", itemprop="telephone", href="tel:+15183024299") 1-518-302-4299

    // SMS
    #sms.p-tel.tel
        .type Cell
        a.value.u-url.url(title="SMS", property="telephone", itemprop="telephone", href="sms:15183024299") SMS

    // Fax
    #fax.p-tel.tel
        .type Fax
        .value(property="faxNumber", itemprop="faxNumber") 1-518-310-2272

    // Address
    #address.h-adr.p-adr.adr(property="address", itemprop="address", itemtype="http://schema.org/PostalAddress", itemscope="")
        .p-street-address.street-address(property="streetAddress", itemprop="streetAddress") 16 Stage Coach Way
        .p-locality.locality(property="addressLocality", itemprop="addressLocality") Lake Placid
        .p-region.region(property="addressRegion", itemprop="addressRegion") New York
        .p-postal-code.postal-code(property="postalCode", itemprop="postalCode") 12946
        .p-country-name.country-name(property="addressCountry", itemprop="addressCountry") US
        a.h-geo.p-geo.geo(title="Geo", href="geo:44.2679,-73.9897")
            abbr.p-latitude.latitude(title="44.26790") N 44° 26.790
            abbr.p-longitude.longitude(title="-73.98970") W 73° 98.970

    // Jobs
    .role(property="jobTitle foaf:title", itemprop="jobTitle") Software Engineer

    // Companies
    .org(property="memberOf owns worksFor foaf:Organization") 14 Productions

//.footer
    a(title="hCard", href="http://microformats.org/wiki/hcard") hCard embedded
    a(rel="profile", href="http://microformats.org/profile/hcard") hCard
    a(title="vCard", type="text/directory", href="http://h2vx.com/vcf/jason.morganson.me") Download vCard
    a(title="Portable Contact (JSON)", type="text/javascript", href="http://www.plaxo.com/pdata/vcard?vcardUrl=http%3A%2F%2Fh2vx.com%2Fvcf%2Fjason.morganson.me&format=json&plaintext=1&pretty=1") Portable Contact (JSON)
    a(title="Portable Contact (XML)", type="text/xml", href="http://www.plaxo.com/pdata/vcard?vcardUrl=http%3A%2F%2Fh2vx.com%2Fvcf%2Fjason.morganson.me&format=json&plaintext=1&pretty=1") Portable Contact (XML)
